AdminWpfApp/Connected Services/ManageTopicProxy/ManageTopic1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="TopographyAdminSvc" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="TopographyAdminSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="TopographyAdminSvc/Imports">
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageTopic?xsd=xsd0" namespace="TopographyAdminSvc" />
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageTopic?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageTopic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvcInterfaces" />
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageTopic?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageTopic_CreateTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTopic" />
  </wsdl:message>
  <wsdl:message name="IManageTopic_CreateTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IManageTopic_DeleteTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTopic" />
  </wsdl:message>
  <wsdl:message name="IManageTopic_DeleteTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IManageTopic_GetTopics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopics" />
  </wsdl:message>
  <wsdl:message name="IManageTopic_GetTopics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicsResponse" />
  </wsdl:message>
  <wsdl:portType name="IManageTopic">
    <wsdl:operation name="CreateTopic">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageTopic/CreateTopic" message="tns:IManageTopic_CreateTopic_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageTopic/CreateTopicResponse" message="tns:IManageTopic_CreateTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTopic">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageTopic/DeleteTopic" message="tns:IManageTopic_DeleteTopic_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageTopic/DeleteTopicResponse" message="tns:IManageTopic_DeleteTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageTopic/GetTopics" message="tns:IManageTopic_GetTopics_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageTopic/GetTopicsResponse" message="tns:IManageTopic_GetTopics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>