AdminWpfApp/Connected Services/ManageTopicProxy/ManageTopic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="TopographyAdminSvc" elementFormDefault="qualified" targetNamespace="TopographyAdminSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3700/Service/ManageTopic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvcInterfaces" />
  <xs:element name="CreateTopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTopicResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTopicResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SvcInterfaces" minOccurs="0" name="GetTopicsResult" nillable="true" type="q1:ArrayOfTopic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>