AdminWpfApp/Connected Services/ManageTopicProxy/ManageTopic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3700/Service/ManageTopic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvcInterfaces" />
  <xs:complexType name="ArrayOfKeyValueOfintThreadzNx1Me7v">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintThreadzNx1Me7v">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SvcInterfaces" name="Value" nillable="true" type="q1:Thread" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintThreadzNx1Me7v" nillable="true" type="tns:ArrayOfKeyValueOfintThreadzNx1Me7v" />
  <xs:complexType name="ArrayOfKeyValueOfintCommentzNx1Me7v">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintCommentzNx1Me7v">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SvcInterfaces" name="Value" nillable="true" type="q2:Comment" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintCommentzNx1Me7v" nillable="true" type="tns:ArrayOfKeyValueOfintCommentzNx1Me7v" />
</xs:schema>