AdminWpfApp/Connected Services/ManageUserProxy/ManageUser1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="TopographyAdminSvc" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="TopographyAdminSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="TopographyAdminSvc/Imports">
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageUser?xsd=xsd0" namespace="TopographyAdminSvc" />
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageUser?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageUser?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvcInterfaces" />
      <xsd:import schemaLocation="http://localhost:3700/Service/ManageUser?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageUser_EditUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUserName" />
  </wsdl:message>
  <wsdl:message name="IManageUser_EditUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUser_UserEnableDisable_InputMessage">
    <wsdl:part name="parameters" element="tns:UserEnableDisable" />
  </wsdl:message>
  <wsdl:message name="IManageUser_UserEnableDisable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserEnableDisableResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUser_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IManageUser_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUser_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IManageUser_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IManageUser_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IManageUser_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IManageUser">
    <wsdl:operation name="EditUserName">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageUser/EditUserName" message="tns:IManageUser_EditUserName_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageUser/EditUserNameResponse" message="tns:IManageUser_EditUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserEnableDisable">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageUser/UserEnableDisable" message="tns:IManageUser_UserEnableDisable_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageUser/UserEnableDisableResponse" message="tns:IManageUser_UserEnableDisable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageUser/CreateUser" message="tns:IManageUser_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageUser/CreateUserResponse" message="tns:IManageUser_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageUser/DeleteUser" message="tns:IManageUser_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageUser/DeleteUserResponse" message="tns:IManageUser_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="TopographyAdminSvc/IManageUser/GetUsers" message="tns:IManageUser_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="TopographyAdminSvc/IManageUser/GetUsersResponse" message="tns:IManageUser_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>