AdminWpfApp/Connected Services/ManageUserProxy/ManageUser1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="TopographyAdminSvc" elementFormDefault="qualified" targetNamespace="TopographyAdminSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3700/Service/ManageUser?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SvcInterfaces" />
  <xs:element name="EditUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserEnableDisable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="enable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserEnableDisableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserEnableDisableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isEnabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SvcInterfaces" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>